:root {
  --rosewater: #f5e0dc;
  --flaming: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

a {
  color: var(--mauve);
  text-decoration: none;
}

a:hover {
  color: var(--lavender);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: var(--text);

  background-color: var(--base);

  margin: 0;
}

/* Header */
header {
  grid-area: header;

  display: flex;
  align-items: center;

  background-color: var(--crust);

  border-bottom: 6px solid var(--lavender);
}

header .logo {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 40px;
}

/* Sidebar */
aside {
  grid-area: sidebar;

  background-color: var(--crust);

  padding: 30px 20px;
}

#task-filter {
  margin-bottom: 90px;
}

aside a {
  color: var(--text);
}

aside ul {
  display: grid;
  grid-template-columns: 1fr;

  list-style: none;
  padding: 0;
}

aside svg {
  margin-right: 5px;
}

.nav-button {
  cursor: pointer;
  padding: 10px 20px;
}

.nav-button:not(.active):hover {
  color: var(--text);
  background-color: var(--mantle);
  border-radius: 8px;
}

.active {
  font-weight: 700;
  color: var(--text);
  background-color: var(--mantle);
  border-radius: 8px;
}

#nav-projects hr {
  color: var(--lavender);
}

#projects-header {
  display: grid;
  grid-template-columns: 1fr 30px;
}

#projects-header p {
  margin-bottom: 0;
}

#projects-add {
  color: var(--lavender);
  font-weight: 700;
  text-align: center;
  border: 2px solid var(--lavender);
  border-radius: 10px;
  cursor: pointer;
}

#projects-add:hover {
  color: var(--mauve);
  border: 2px solid var(--mauve);
}

#projects-add span {
  font-size: 0.7rem;
  font-weight: 400;
  vertical-align: center;
}

/* Main */
main {
  grid-area: main;
  padding: 30px 50px;
}

#task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 30px;
}

#task-header h2 {
  vertical-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  margin: 0;
}

#task-add {
  color: var(--lavender);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--lavender);
  border-radius: 10px;
  cursor: pointer;

  padding: 10px 10px;
  margin-left: 20px;
}

#task-add:hover {
  color: var(--mauve);
  border: 2px solid var(--mauve);
}

#task-container {
  max-width: 1100px;
  margin: 0 auto;
}

.task {
  background-color: var(--crust);

  cursor: pointer;

  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.task-snippet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  padding: 0;
  margin: 0;
}

.task-controls {
  display: flex;
  align-items: center;
}

.task-controls svg {
  padding: 8px;
}

.task-controls svg:hover {
  color: var(--crust);
  background-color: var(--text);
  border-radius: 15px;
}

.task-controls button {
  font-size: 1rem;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.task-details {
  display: grid;
  grid-template-columns: 1fr;

  margin-top: 10px;
}

.task-bubble {
  background-color: var(--mantle);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.task-bubble-header {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0;
}

.task-bubble-text {
  margin: 0;
  padding: 0;
}

.date {
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 5px;
}

.priority-medium {
  color: var(--mantle);
  background-color: var(--yellow);
}

.priority-medium .task-bubble {
  color: var(--mantle);
  background-color: #ffeec8;
}

.priority-medium svg:hover {
  color: var(--yellow);
  background-color: var(--mantle);
}

.priority-high {
  color: var(--mantle);
  background-color: var(--red);
}

.priority-high .task-bubble {
  color: var(--mantle);
  background-color: #ffa4bd;
}

.priority-high svg:hover {
  color: var(--red);
  background-color: var(--mantle);
}

.completed {
  color: var(--mantle);
  background-color: var(--green);
}

.completed .task-bubble {
  color: var(--mantle);
  background-color: #a8eea2;
}

.completed svg:hover {
  color: var(--green);
  background-color: var(--mantle);
}

.hide {
  display: none;
}

/* Footer */
footer {
  grid-area: footer;

  background-color: var(--mantle);
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: 50px 1fr 75px;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;

}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
}
